<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
  </head>
  <body>
    <h1>Detail of product</h1>
    <h3>Time: <%= report.time %></h3>
    <h3>Date: <%= report.date %></h3>
    <h3>Location: <%= report.location %></h3>
    <h3>Description: <%= report.description %></h3>
    <a href="/reports">Back to All Reports</a>
    <form action="/reports/<%=report._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
  </body>
</html>
